body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0px;
}
.banner p {
  font-size: 25px;
  padding-bottom: 35px;
  margin-top: 0px;
}
button {
  border: 1px solid #d43f3a;
  background-color: #d9534f;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 7px;
}
button:hover {
  background-color: #c93b2c;
  color: #fff;
}

.links {
  padding-top: 20px;
}
.links a:hover {
  font-weight: bold;
  text-decoration: underline;
}
a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 30px;
}

h2 {
  font-weight: normal;
  font-size: 37px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  padding-top: 5%;
}

.services {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

img {
  width: 90%;
}

.column {
  float: left;
  width: 20%;
  padding: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.services img {
  width: 87%;
  height: 50%;
}

#sales {
  padding-right: 5%;
}
.about-us {
  background-color: #6b839b;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 200px);
  color: #fff;
}
.header {
  font-weight: normal;
  font-size: 37px;
  text-transform: capitalize;
  grid-column: 1/-1;
  text-align: center;
  padding-top: 8%;
}

.group-photo {
  width: 90%;
  grid-column: 1/2;
  padding-left: 25%;
  padding-bottom: 15%;
}
.group-photo img {
  border-radius: 10px;
}
.content {
  grid-column: 2/-1;
  padding-left: 7%;
  font-size: 18px;
  padding-right: 11%;
  text-align: justify;
  padding-bottom: 15%;
}

h4 {
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  grid-column: 1/-1;
  text-align: center;
  padding-top: 5%;
  color: #333333;
  font-family: "Raleway", sans-serif;
}

.right {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(1, 300px);
  padding-bottom: 2%;
  padding-top: 2%;
}
.right-image {
  width: 102%;
  grid-column: 1/2;
  padding-left: 22%;
  padding-bottom: 15%;
  padding-top: 5%;
}
.right img {
  border-radius: 8px;
}
.paragraph-right {
  grid-column: 2/-1;
  padding-left: 9%;
  font-size: 20px;
  padding-right: 10%;
  text-align: justify;
  float: left;
  line-height: 28px;
  font-weight: lighter;
  color: #333333;
  font-family: "open-san", sans-serif;
}

.paragraph-right h5 {
  font-weight: normal;
  font-size: 28px;
  text-transform: capitalize;
  grid-column: 1/-1;
  text-align: center;
  color: #333333;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2%;
  font-weight: bold;
}
.left {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(1, 300px);
  padding-bottom: 5%;
}
.left-image {
  width: 87%;
  grid-column: 2/-1;
  padding-bottom: 20%;
  padding-top: 14%;
}
.left img {
  border-radius: 8px;
}
.paragraph-left {
  grid-column: 1/2;
  padding-left: 10%;
  font-size: 20px;
  padding-right: 4%;
  text-align: justify;
  float: left;
  line-height: 28px;
  font-weight: lighter;
  color: #333333;
  font-family: "open-san", sans-serif;
  padding-top: 50px;
}

.paragraph-left h5 {
  font-weight: normal;
  font-size: 27px;
  text-transform: capitalize;
  grid-column: 1/-1;
  text-align: center;
  color: #333333;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2%;
  font-weight: bold;
}
